body{
    background-color:antiquewhite;
}
h1{
    
    background-color: blueviolet;
}
p{
    background-color:aquamarine;
}
h2{
    background-color:cornflowerblue;
}
h3{
    
    background-color: deepskyblue;
}
img{

    border: 5px blueviolet solid;
    width: 300;
   
    
}